.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
  }
  
  .light {
    width: 60px;
    height: 60px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.4;
    transition: opacity 0.5s ease;
  }
  
  .red.active {
    background-color: red;
    opacity: 1;
  }
  
  .yellow.active {
    background-color: yellow;
    opacity: 1;
  }
  
  .green.active {
    background-color: green;
    opacity: 1;
  }
  